/*dont forget # in front of hex codes

div:
The <div>  used as a container for HTML elements which is then styled with CSS

span:
The <span> tag is an inline container used to mark up a part of a text, or a part of a document.

Common Block Elements (width of screen, unless specified width):
            p
            h1 to h6
            div
            ol, ul and li
            forms
Inline display element (take only the space they need):
            span <span>
            images <img>
            anchord <a>
Inline-Block display element:
            allows to set a width and height on the element.
            does not add a line-break after the element
Display none:
            commonly used with JavaScript to hide and show elements
            without deleting and recreating them.
note: visibility: hidden; retains the space for the element

Children sit on top of parents

Position property:
Static - default, follow HTML flow
Relative - eg img {
              position: Relative
              left: 30px;}    also img{top: 50px;} etc
              moves it relative to where it would have been under HTML follow
              i.e. add 30px to the left edge from where it used to be
Absolute -  relative to its parent eg add margin relative to its parent element
            takes it out of the flow of the html
Fixed - elemen stays in position unaffected by scrolling



*/
body {
  color: #40514E;
  margin: 0;
  text-align: center;
/*margin: 0 auto 0 auto;*/
font-family: 'Merriweather', Verdana, Helvetica, Arial, sans-serif; /*use monotone for displaying code*/

}

h1 {
  margin-top: 50px;
  font-family: 'Sacramento';
  font-size: 300%; /*100% = 16px, 1em = 16px*/
  color: #66BFBF;
margin-bottom: 5px;
line-height: 2;
}

h2{
  font-family: 'Montserrat', cursive;
  font-size: 1.4rem; /* dynamic font sizing */
  margin-top: 5px;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p {
  line-height: 2;

}

hr {
border: dotted grey 6px;
border-bottom: none;
width: 8%;
margin: 100px auto;
}

a {
  color: #11999E;
  font-family: 'Merriweather', Verdana, Helvetica, Arial, sans-serif; /*use monotone for displaying code*/
margin: 10px 20px;
text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

.container {
  position: relative;
  width: 300;
  height: 300;
  background-color: grey;
}

.top-container {
  background-color: #A3E4DB;
  padding-top: 4%;
  position: relative;
}

.middle-container {
  width:50%;
  margin: auto; /* centres content  */

}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;

}
.under{
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

  .bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
  }



  .skill-row {
  text-align: left;
    margin:100px auto 100px auto; /* centres content  */


  }

  .code-img {
    width: 25%; /* of its parent's width  */
    float: left; /* clear: left; is like the anti float  */
    margin-right: 30px;
  }

  .chilli-img {
    width: 25%; /* of its parent's width  */
    float: right;
    margin-left: 30px;
  }
.contact-message {
width: 40%;
margin: 40px auto 60px auto;
}
.copyright-msg{
  color: #EAF6F6;
  font-size: 0.75em;
  padding: 20 0;
}

.btn {
  background: #88badb;
  background-image: -webkit-linear-gradient(top, #88badb, #80a3b8);
  background-image: -moz-linear-gradient(top, #88badb, #80a3b8);
  background-image: -ms-linear-gradient(top, #88badb, #80a3b8);
  background-image: -o-linear-gradient(top, #88badb, #80a3b8);
  background-image: linear-gradient(to bottom, #88badb, #80a3b8);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Merriweather', Verdana, Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3481b0;
  background-image: -webkit-linear-gradient(top, #3481b0, #266894);
  background-image: -moz-linear-gradient(top, #3481b0, #266894);
  background-image: -ms-linear-gradient(top, #3481b0, #266894);
  background-image: -o-linear-gradient(top, #3481b0, #266894);
  background-image: linear-gradient(to bottom, #3481b0, #266894);
  text-decoration: none;
}
